# 유튜브 인기동영상 데이터

In [213]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

### Q1. 인기 동영상 제작횟수가 많은 채널 상위 10개명 출력(날짜기준, 중복 포함)

In [2]:
df.info(), df.shape

<class 'pandas.core.frame.DataFrame'>
Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

(None, (60399, 9))

In [51]:
channelIdidx = df.channelId.value_counts().head(10).index
channelIdidx

Index(['UCszFjh7CEfwDb7UUGb4RzCQ', 'UClzB2iZ5jPoTNz0S-QU6Wiw',
       'UCtm_QoN2SIxwCE-59shX7Qg', 'UCaKod3X1Tn4c7Ci0iUKcvzQ',
       'UCiwQRG2sCcfjKkgxMEdJGPg', 'UChbE5OZQ6dRHECsX0tEPEZQ',
       'UCLkAepWjdylmXSltofFvsYQ', 'UCQ2O-iftmnlfrBuNsUUTofQ',
       'UCtfriFvIe5gIe8wRWb8UTMg', 'UCRuSxVu4iqTK5kCh90ntAgA'],
      dtype='object', name='channelId')

In [61]:
result = df.loc[df.channelId.isin(channelIdidx)].sort_values('trending_date2')
result

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
192,[카라바오컵 8강] 스토크 vs 토트넘 H/L,SPOTV,17,548834,3711,149,1347,UCtm_QoN2SIxwCE-59shX7Qg,2021-01-01
172,[스튜디오 장삐쭈] 작업량,장삐쭈,23,1357950,33776,660,6066,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
132,엇갈린 크리스마스 [지옥에서 온 그녀],총몇명,1,1776057,39858,868,6362,UCRuSxVu4iqTK5kCh90ntAgA,2021-01-01
125,[라디오스타] 🎉700회 특집🎉 구 MC들과 현 MC들의 서로 물고 뜯는 하이에나 ...,엠뚜루마뚜루 : MBC 공식 종합 채널,24,1118802,9058,323,1526,UCiwQRG2sCcfjKkgxMEdJGPg,2021-01-01
...,...,...,...,...,...,...,...,...,...
60207,[신병] 보직변경 完,장삐쭈,23,4613683,126049,1321,28531,UChbE5OZQ6dRHECsX0tEPEZQ,2021-10-19
60241,[짐승친구들] 느그 이름은,짤툰,1,1374286,28365,510,2807,UCszFjh7CEfwDb7UUGb4RzCQ,2021-10-19
60242,24시간동안 크림 먹기 VS 팥 먹기!! 어떤 요리가 더 맛있을까?!,파뿌리,24,860037,13053,516,3319,UClzB2iZ5jPoTNz0S-QU6Wiw,2021-10-19
60271,[전참시] 훅 들어오는 남편의 모닝 이벤트부터 SWAG 힙한 딸까지💃 엄마 아이키의...,엠뚜루마뚜루 : MBC 공식 종합 채널,24,3311230,38387,653,1726,UCiwQRG2sCcfjKkgxMEdJGPg,2021-10-19
60327,"24시간동안 10,000칼로리 먹기 vs 0칼로리 먹기!! 0칼로리만 먹어도 배부를까?!",파뿌리,24,1571843,19280,773,4624,UClzB2iZ5jPoTNz0S-QU6Wiw,2021-10-19

In [63]:
print(list(result.channelTitle.unique()))

['장삐쭈', 'SPOTV', '총몇명', '엠뚜루마뚜루 : MBC 공식 종합 채널', '런닝맨 - 스브스 공식 채널', '파뿌리', '짤툰', '채널 십오야', '이과장', 'BANGTANTV']

In [39]:
## 답
answer =list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())
print(answer)

['파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV']

### Q2. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [69]:
print(list(df[df['dislikes'] > df['likes']].channelTitle.unique()))

['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO', 'Gen.G esports']

In [70]:
## 답
answer =list(df.loc[df.likes < df.dislikes].channelTitle.unique())
print(answer)

['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO', 'Gen.G esports']

### Q3. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [81]:
result = df[['channelId', 'channelTitle']].drop_duplicates(keep='first')
result

                      channelId             channelTitle
0      UChbE5OZQ6dRHECsX0tEPEZQ                      장삐쭈
1      UCxXgIeE5hxWxHG6dz9Scg2w  RAIN's Official Channel
2      UCZUPZW5idAxYp-Asj__lVAA              서울시 · Seoul
3      UCT3CumbFIJiW33uq0UI3zlg             고기남자 MeatMan
4      UCdWgRSfttvDucq4ApcCg5Mw                    스브스밥집
...                         ...                      ...
60023  UCsiuN8Jco3LbbuTyGuqRgKg                      멸치형
60028  UCRnEWJKVc5FpC-9Z3CBt2ZQ          키키TV, 전지적 예능 시점
60035  UCkMN06eC97XL1qR1bExdwWg                    기용이tv
60036  UCp9G3sWsE42Qo9jgnB1ta2Q       INSSAOPPA G [인싸오빠]
60068  UCRCK5FCJtomQT3b88jXI_DA              한국닌텐도 공식 채널

[1843 rows x 2 columns]

In [100]:
result.groupby('channelId').count()  # 이것도 됨

                          channelTitle
channelId
UC-0229MiVYnQoUxdLJnFl_g             1
UC-0C8yVGJy-cS4FGlYKelWw             1
UC-0tICWyA0_AJAVMBHL8GdQ             1
UC-2Y8dQb0S6DtpxNgAKoJKA             1
UC-5acDjU6XFWu-__G17V_YQ             1
...                                ...
UCznImSIaxZR7fdLCICLdgaQ             1
UCzt24ffdUiJvJAm5HY084aw             1
UCzteSXznVjwESizsCcSKSWw             1
UCzxXBQnJy9guqVNM6KXi0Ig             1
UCzz58-H0wzmGoFi3MO_9ePQ             1

[1770 rows x 1 columns]

In [90]:
cnt = result.channelId.value_counts()
cnt

channelId
UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCuZu8NrpBG4WPXRi-hPBl-A    1
UCDrAR1OWC2MD4s0JLetN0MA    1
UCx2MVBsdTJ_sv0LiUpSQU2Q    1
UCu2R3TCLSxYV8pRyBGNOh2g    1
UCRCK5FCJtomQT3b88jXI_DA    1
Name: count, Length: 1770, dtype: int64

In [93]:
print(len(cnt[cnt > 1]))

71

In [94]:
## 답
change = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
target = change[change>1]
print(len(target))

71

### Q4. 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [108]:
import pandas as pd
pd.to_datetime(df['trending_date2'])

df['날짜'] = pd.to_datetime(df['trending_date2'])
df['요일'] = df['날짜'].dt.day_name()

In [119]:
print(list(df[df['요일']=='Sunday'].categoryId.value_counts().head(1).index)[0])

24

In [120]:
## 답
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
answer =df.loc[df['trending_date2'].dt.day_name() =='Sunday'].categoryId.value_counts().index[0]
print(answer)

24

### Q5. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

In [140]:
group = df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()
display(group.pivot(index='categoryId', columns='trending_date2'))

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

### Q6. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60399 entries, 0 to 60398
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  datetime64[ns]
 9   날짜              60399 non-null  datetime64[ns]
 10  요일              60399 non-null  object
dtypes: datetime64[ns](2), int64(5), object(4)
memory usage: 5.5+ MB

In [160]:
df['q6_col'] = df['comment_count']/df['view_count']
print(df[df['view_count']>0].sort_values('q6_col', ascending=False).iloc[0].title)

60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)

In [ ]:
## 답
target2= df.loc[df.view_count!=0]
t = target2.copy()
t['ratio'] = (target2['comment_count']/target2['view_count']).dropna()
result = t.sort_values(by='ratio', ascending=False).iloc[0].title
print(result)

### Q7. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

In [175]:
copy = df[df['view_count']!=0]
copy['ratio'] = copy['comment_count']/copy['view_count']
print(copy[copy['ratio']>0].sort_values('ratio').iloc[0].title)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

C:\Users\na\AppData\Local\Temp\ipykernel_20084\1016678159.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  copy['ratio'] = copy['comment_count']/copy['view_count']

In [176]:
## 답
ratio = (df['comment_count'] / df['view_count']).dropna().sort_values()
ratio[ratio!=0].index[0]

result= df.iloc[ratio[ratio!=0].index[0]].title
print(result)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

### Q8. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [192]:
copy = df[(df.likes !=0) & (df.dislikes !=0)]
copy['ratio'] = df['dislikes']/df['likes']
print(copy.sort_values('ratio').iloc[0].title)

[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰

C:\Users\na\AppData\Local\Temp\ipykernel_20084\1098205579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  copy['ratio'] = df['dislikes']/df['likes']

In [193]:
## 답
target = df.loc[(df.likes !=0) & (df.dislikes !=0)]
num = (target['dislikes']/target['likes']).sort_values().index[0]

answer = df.iloc[num].title
print(answer)

[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰

### Q9. 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [205]:
print(list(df[df.channelId == (df.channelId.value_counts().index[0])].channelTitle.unique())[0])

짤툰

In [206]:
## 답
answer = df.loc[df.channelId ==df.channelId.value_counts().index[0]].channelTitle.unique()[0]
print(answer)

짤툰

### Q10. 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [214]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 4.6+ MB

In [234]:
print((df[['title', 'channelId']].value_counts() >= 20).sum())

40

# 유튜브 공범 콘텐츠 동영상 데이터

In [1]:
import pandas as pd

channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

### Q11. 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [8]:
channel.info(), video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1395 entries, 0 to 1394
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   channelid    1395 non-null   object
 1   subcnt       1395 non-null   int64
 2   viewcnt      1395 non-null   int64
 3   videocnt     1395 non-null   int64
 4   ct           1395 non-null   datetime64[ns]
 5   channelname  1395 non-null   object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 65.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15201 entries, 0 to 15200
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   videopk      15201 non-null  object
 1   viewcnt      15201 non-null  int64
 2   likecnt      15201 non-null  int64
 3   dislikecnt   15201 non-null  int64
 4   favoritecnt  15201 non-null  int64
 5   cmcnt        15201 non-null  int64
 6   ct           15201 non-null  datetime64[ns]
 7   videoname    15201 non-null  object
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 950.2+ KB

(None, None)

In [7]:
channel['ct']=pd.to_datetime(channel['ct'])
video['ct']=pd.to_datetime(video['ct'])

In [11]:
print(video.videoname.value_counts())

videoname
 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: count, dtype: int64

### Q12. 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [33]:
print(video.sort_values(['videoname','ct']).drop_duplicates('videoname', keep='last')[['viewcnt','videoname', 'ct']].reset_index(drop=True))

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

### Q13. Channel 데이터 중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [34]:
channel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1395 entries, 0 to 1394
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   channelid    1395 non-null   object
 1   subcnt       1395 non-null   int64
 2   viewcnt      1395 non-null   int64
 3   videocnt     1395 non-null   int64
 4   ct           1395 non-null   datetime64[ns]
 5   channelname  1395 non-null   object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 65.5+ KB

In [48]:
print(channel[channel['ct'] >= pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')[['channelname','subcnt']].reset_index(drop=True))

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3        김농밀의 농밀한 삶     7520
4       릴펄 Lilpearl    10100
5   와글와글 WagleWagle    55000
6               조나단   215000
7           형사!탐정되다    14900
8     Balming Tiger    54300
9     곽토리 kwak tori   471000
10              꽈뚜룹  1330000

In [46]:
## 답
channel.ct = pd.to_datetime(channel.ct)
target = channel[channel.ct >= pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')
answer = target[['channelname','subcnt']].reset_index(drop=True)
print(answer)

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3        김농밀의 농밀한 삶     7520
4       릴펄 Lilpearl    10100
5   와글와글 WagleWagle    55000
6               조나단   215000
7           형사!탐정되다    14900
8     Balming Tiger    54300
9     곽토리 kwak tori   471000
10              꽈뚜룹  1330000

### Q14. 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [63]:
result = channel[channel.ct >= pd.to_datetime('2021-10-03 03:00:00')].sort_values(['channelname','ct']).drop_duplicates('channelname')[['channelname', 'subcnt']].reset_index(drop=True)
result

        channelname   subcnt
0     Balming Tiger    54300
1     곽토리 kwak tori   471000
2        김농밀의 농밀한 삶     7520
3               꽈뚜룹  1330000
4            논리왕 전기   922000
5       릴펄 Lilpearl    10100
6             야전삽짱재   257000
7   와글와글 WagleWagle    55000
8               조나단   215000
9        츄정ChuJeong   322000
10          형사!탐정되다    14900

In [66]:
result['subcnt2'] = channel[channel.ct <= pd.to_datetime('2021-11-01 15:00:00')].sort_values(['channelname','ct']).drop_duplicates('channelname', keep='last')['subcnt'].reset_index(drop=True)
result

        channelname   subcnt  subcnt2
0     Balming Tiger    54300    56800
1     곽토리 kwak tori   471000   469000
2        김농밀의 농밀한 삶     7520     9060
3               꽈뚜룹  1330000  1400000
4            논리왕 전기   922000   911000
5       릴펄 Lilpearl    10100    21100
6             야전삽짱재   257000   268000
7   와글와글 WagleWagle    55000    55000
8               조나단   215000   227000
9        츄정ChuJeong   322000   323000
10          형사!탐정되다    14900    25200

In [67]:
result['구독자수 증가량'] = result['subcnt2'] - result['subcnt']
print(result[['channelname', '구독자수 증가량']])

        channelname  구독자수 증가량
0     Balming Tiger      2500
1     곽토리 kwak tori     -2000
2        김농밀의 농밀한 삶      1540
3               꽈뚜룹     70000
4            논리왕 전기    -11000
5       릴펄 Lilpearl     11000
6             야전삽짱재     11000
7   와글와글 WagleWagle         0
8               조나단     12000
9        츄정ChuJeong      1000
10          형사!탐정되다     10300

In [68]:
## 답
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-10-03 03']

end_df = end[['channelname','subcnt']].reset_index(drop=True)
start_df = start[['channelname','subcnt']].reset_index(drop=True)

end_df.columns = ['channelname','end_sub']
start_df.columns = ['channelname','start_sub']


tt = pd.merge(start_df,end_df)
tt['del'] = tt['end_sub'] - tt['start_sub']
result = tt[['channelname','del']]
display(result)

        channelname    del
0               꽈뚜룹  70000
1             야전삽짱재  11000
2        츄정ChuJeong   1000
3            논리왕 전기 -11000
4   와글와글 WagleWagle      0
5               조나단  12000
6           형사!탐정되다  10300
7        김농밀의 농밀한 삶   1540
8       릴펄 Lilpearl  11000
9     곽토리 kwak tori  -2000
10    Balming Tiger   2500

### Q15. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [69]:
video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15201 entries, 0 to 15200
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   videopk      15201 non-null  object
 1   viewcnt      15201 non-null  int64
 2   likecnt      15201 non-null  int64
 3   dislikecnt   15201 non-null  int64
 4   favoritecnt  15201 non-null  int64
 5   cmcnt        15201 non-null  int64
 6   ct           15201 non-null  datetime64[ns]
 7   videoname    15201 non-null  object
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 950.2+ KB

In [72]:
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [91]:
result = video[video.videoname == ' 공범 EP1'].sort_values('ct').reset_index(drop=True)
result

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
3,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
4,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,공범 EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,공범 EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,공범 EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,공범 EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1

In [94]:
result[  # ct컬럼의 이전 열 값의 차이 = result.ct.diff(1)
         # timedelta : 날짜 비교
        (result.ct.diff(1) >= datetime.timedelta(minutes=20)) | \
        (result.ct.diff(1) <= datetime.timedelta(minutes=5))
      ]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1

In [95]:
## 답
import datetime

ep_one = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)

ep_one[
        (ep_one.ct.diff(1) >=datetime.timedelta(minutes=20)) | \
        (ep_one.ct.diff(1) <=datetime.timedelta(minutes=5))
      
      ]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1

In [93]:
answer = ep_one[ep_one.index.isin([720,721,722,723,1635,1636,1637])]
display(answer)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

### Q16. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [100]:
result = video.sort_values(['videoname', 'ct']).drop_duplicates('videoname')[['videoname', 'ct']]
result

      videoname                  ct
10       공범 EP1 2021-10-07 19:10:03
3496     공범 EP2 2021-10-09 19:10:03
6696     공범 EP3 2021-10-14 19:10:04
9264     공범 EP4 2021-10-16 19:10:04
11544    공범 EP5 2021-10-21 19:10:04
13661    공범 EP6 2021-10-23 19:10:04
13106    공범 EP7 2021-10-28 19:10:04
14935    공범 EP8 2021-10-30 19:20:04

In [105]:
result.ct = result.ct.dt.date
print(result)

      videoname          ct
10       공범 EP1  2021-10-07
3496     공범 EP2  2021-10-09
6696     공범 EP3  2021-10-14
9264     공범 EP4  2021-10-16
11544    공범 EP5  2021-10-21
13661    공범 EP6  2021-10-23
13106    공범 EP7  2021-10-28
14935    공범 EP8  2021-10-30

In [ ]:
## 답
start_date = video.sort_values(['ct','videoname']).drop_duplicates('videoname')[['ct','videoname']]
start_date['date'] = start_date.ct.dt.date
answer = start_date[['date','videoname']]
display(answer)

### Q17. “공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

In [121]:
video['time'] = video.ct.dt.hour

In [126]:
result = video.sort_values(['videoname','ct'])[video.time==21].drop_duplicates('videoname')
display(result.sort_values('viewcnt', ascending=False)[['viewcnt', 'ct', 'videoname']].reset_index(drop=True))

C:\Users\na\AppData\Local\Temp\ipykernel_8180\2277471609.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  result = video.sort_values(['videoname','ct'])[video.time==21].drop_duplicates('videoname')

   viewcnt                  ct videoname
0   264029 2021-10-30 21:00:08    공범 EP8
1   252032 2021-10-28 21:00:04    공범 EP7
2   217674 2021-10-16 21:00:04    공범 EP4
3   213899 2021-10-23 21:00:06    공범 EP6
4   201179 2021-10-21 21:00:04    공범 EP5
5   148144 2021-10-09 21:00:03    공범 EP2
6   147183 2021-10-14 21:00:04    공범 EP3
7   117340 2021-10-07 21:00:03    공범 EP1

In [119]:
## 답
video['time']= video.ct.dt.hour

answer = video.loc[video['time'] == 21] \
            .sort_values(['videoname','ct'])\
            .drop_duplicates('videoname') \
            .sort_values('viewcnt',ascending=False)[['videoname','viewcnt','ct']]\
            .reset_index(drop=True)

display(answer)

  videoname  viewcnt                  ct
0    공범 EP8   264029 2021-10-30 21:00:08
1    공범 EP7   252032 2021-10-28 21:00:04
2    공범 EP4   217674 2021-10-16 21:00:04
3    공범 EP6   213899 2021-10-23 21:00:06
4    공범 EP5   201179 2021-10-21 21:00:04
5    공범 EP2   148144 2021-10-09 21:00:03
6    공범 EP3   147183 2021-10-14 21:00:04
7    공범 EP1   117340 2021-10-07 21:00:03

### Q18. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

In [131]:
result = video.sort_values('ct', ascending=False).drop_duplicates('videoname')
result['ratio'] = result.dislikecnt / result.likecnt
result

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time,ratio
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8,15,0.141357
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7,15,0.013636
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6,15,0.015881
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5,15,0.021128
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1,15,0.027118
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2,15,0.029844
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4,15,0.017971
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3,15,0.022360

In [132]:
display(result.sort_values('ratio')[['videoname', 'ratio']])

      videoname     ratio
13660    공범 EP7  0.013636
14934    공범 EP6  0.015881
11543    공범 EP4  0.017971
13105    공범 EP5  0.021128
9263     공범 EP3  0.022360
3491     공범 EP1  0.027118
6695     공범 EP2  0.029844
15200    공범 EP8  0.141357

In [ ]:
## 답
target = video.sort_values('ct').drop_duplicates('videoname',keep='last')
target['ratio'] =target['dislikecnt'] / target['likecnt']

answer = target.sort_values('ratio')[['videoname','ratio']].reset_index(drop=True)
answer

### Q19. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

In [150]:
result = video.sort_values(['videoname', 'ct'])[video.ct >= pd.to_datetime('2021-11-01 00:00:00')].drop_duplicates('videoname')
result.reset_index(drop=True, inplace=True)

C:\Users\na\AppData\Local\Temp\ipykernel_8180\4272607354.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  result = video.sort_values(['videoname', 'ct'])[video.ct >= pd.to_datetime('2021-11-01 00:00:00')].drop_duplicates('videoname')

In [151]:
result['viewcnt2'] = video.sort_values(['videoname', 'ct'])[video.ct <= pd.to_datetime('2021-11-01 15:00:00')].drop_duplicates('videoname', keep='last')['viewcnt'].reset_index(drop=True)
result[['viewcnt', 'viewcnt2']]

C:\Users\na\AppData\Local\Temp\ipykernel_8180\1647819853.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  result['viewcnt2'] = video.sort_values(['videoname', 'ct'])[video.ct <= pd.to_datetime('2021-11-01 15:00:00')].drop_duplicates('videoname', keep='last')['viewcnt'].reset_index(drop=True)

   viewcnt  viewcnt2
0  3166400   3179698
1  2188578   2198878
2  1660916   1670843
3  1808141   1817965
4  1492223   1503047
5  1735457   1749598
6  1602201   1629150
7  1196327   1285474

In [152]:
result['viewcnt_증가량'] = result['viewcnt2'] - result['viewcnt']
display(result[['videoname', 'viewcnt_증가량']])

  videoname  viewcnt_증가량
0    공범 EP1        13298
1    공범 EP2        10300
2    공범 EP3         9927
3    공범 EP4         9824
4    공범 EP5        10824
5    공범 EP6        14141
6    공범 EP7        26949
7    공범 EP8        89147

In [147]:
## 답
start = pd.to_datetime("2021-11-01 00:00:00")
end = pd.to_datetime("2021-11-01 15:00:00")

target = video.loc[(video["ct"] >= start) & (video['ct'] <= end)].reset_index(drop=True)

def check(x):
    result = max(x) - min(x)
    return result

answer = target[['videoname','viewcnt']].groupby("videoname").agg(check)
answer

           viewcnt
videoname
 공범 EP1      13298
 공범 EP2      10300
 공범 EP3       9927
 공범 EP4       9824
 공범 EP5      10824
 공범 EP6      14141
 공범 EP7      26949
 공범 EP8      89147

### Q20. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

In [155]:
## 답
answer  = video[video.index.isin(set(video.index) -  set(video.drop_duplicates().index))]
result = answer[['videoname','ct']]
display(result)

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37